<div class="mx-auto max-w-7xl px-4">
    <!-- Search bar. -->
    <div class="flex my-4 mx-auto max-w-xl justify-center">
        <input [(ngModel)]="poetName" class="px-3 py-1 m-1 w-full border-gray-700 border-2" type="search">
        <button (click)="getPoems()" class="rounded-md w-48 px-4 py-1 m-1 bg-gray-300 hover:bg-gray-200">
            Search Poet
        </button>
    </div>

    <div *ngIf="poetEntered" class="flex flex-col sm:flex-row my-4 max-h-96">
        <!-- About section. -->
        <div class="basis-2/5 p-5 my-4 overflow-scroll">
            <h2 class="text-2xl font-bold">{{wikiTitle}}</h2>
            <p>{{wikiContent}}</p>
        </div>

        <!-- List of poems. -->
        <div class="basis-3/5 my-4 overflow-scroll">
            <div *ngFor="let poem of poems" class="my-14 first:mt-5 last:mb-5">
                <h2 class="text-2xl font-bold flex justify-center">{{poem.title}}</h2>
                <h3 class="text-md italic flex justify-center text-gray-800">by {{poem.author}}</h3>
                <div class="my-2">
                    <p *ngFor="let line of poem.lines" class="flex justify-center">{{line}}</p>
                </div>
            </div>
        </div>
    </div>

    <!-- Write poem section. -->
    <div *ngIf="poetEntered" class="my-4 mx-auto max-w-3xl">
        <div class="flex justify-between">
            <div>
                <input [(ngModel)]="topicInput" class="px-3 py-1 m-1 w-40 border-gray-700 border-2" type="search">
                <button (click)="addTopic()" class="rounded-md w-32 px-4 py-1 m-1 bg-gray-300 hover:bg-gray-200">
                    Add Topic
                </button>
            </div>

            <button (click)="writePoem()" class="rounded-md w-32 px-4 py-1 m-1 bg-gray-300 hover:bg-gray-200">
                Write Poem
            </button>
        </div>
        <div class="my-2">
            <span *ngFor="let topic of topics" class="border-2 bg-slate-100 border-neutral-400 text-sm rounded-2xl py-1 px-2 m-1">{{topic}}</span>
        </div>
        <div class="my-4">
            <p *ngFor="let line of generatedPoem" class="flex justify-center">{{line}}</p>
        </div>
    </div>
</div>